<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main class="message">
    <body class="bg-light">
        <div style="margin:10px">Messages with <%= locals.username%></div>
        <main role="main" class="container">
            <table class="table">
                <th>Sender</th>
                <th>Receiver</th>
                <th>Message</th>
                <% chat.forEach(message => { %>
                    <tr>
                        <td><%= message.sender_username%></td>
                        <td><%= message.receiver_username%></td>
                        <td><%= message.message_text%></td>
                    </tr>
                <% }) %>
            </table>
        </main>
        <form action="/message/<%= locals.username %>" method="POST">
            <label for="messageTextBox" class="form-label" style="margin:10px">Send Message</label>
            <input type="textbox" id="messageTextBox" name="message" class="form-control" placeholder="Send message to <%= locals.username %>" style="margin:10px; width:99vw">
            <button type="submit" class="btn btn-outline-primary" id="sendButton" style="float:right; margin: 10px">Send</button>
        </form>
    </body>
</main>

<%- include ('../partials/footer') %>